# Environnement virtuel
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Base de données locale
data/envirisk.db

# Données locales RAG
data/chroma/
data/documents/
data/uploads/

# Fichiers temporaires
*.tmp
*.log

# Variables d'environnement
.env
.env.*

# IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db